SpringTest/WebContent/wsdl/TestController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test.org.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://test.org.com" xmlns:intf="http://test.org.com" xmlns:tns1="http://ui.springframework.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://test.org.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://ui.springframework.org"/>
   <element name="printHello">
    <complexType>
     <sequence>
      <element name="model" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="printHelloResponse">
    <complexType>
     <sequence>
      <element name="printHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="printHelloRequest">

      <wsdl:part element="impl:printHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printHelloResponse">

      <wsdl:part element="impl:printHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestController">

      <wsdl:operation name="printHello">

         <wsdl:input message="impl:printHelloRequest" name="printHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:printHelloResponse" name="printHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestControllerSoapBinding" type="impl:TestController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="printHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestControllerService">

      <wsdl:port binding="impl:TestControllerSoapBinding" name="TestController">

         <wsdlsoap:address location="http://localhost:8080/SpringTest/services/TestController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
